.wrapper {
  border: 1px solid grey;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 5px;
  padding: 5px 0;
  transition: 0.3s;

  & .checkBox  {
    width: 18px;
    height: 18px;
  }

  & .disabled {
    opacity: 0.5;
    user-select: none;
  }
}

.button {
  width: 25px;
  height: 20px;
  text-align: center;
  border-radius:5px;
  border: none;
  background-color: #427ce7;
  color: white;
  margin-right: 5px;
  transition: 0.3s;

  &:hover {
    background-color: cornflowerblue;
  }
  &:active {
    transform: scale(0.8);
    background-color: #427ce7;
  }
  &:disabled {
    opacity: 0.5;
    transform: none;
    background-color: #427ce7;
  }
}

.isDone {
  border: none;
  opacity: 0.4;
  transform: scale(0.9);
  transition: 0.3s;
}