.text {
  width: 80%;
  font-family: Bahnschrift, sans-serif;
  background-color: #c9c9c9;
}

.input {
  width: 80% !important;
  height: 40px;
  transition: 0.1s;
  padding: 0  8px;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);

  &:focus {
    border: none;
    outline: none;
    font-size: 1rem;
  }
}