.wrapper {
  width: 100vw;
  height: 100vh;
  user-select: none;
  background: url("../../assets/image/not-found-error-alert.svg") 50% / contain no-repeat;
}

.link {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  border: none;
  outline: none;
  border-radius: 4px;
  transition: .2s;

  text-decoration: none;
  color: #FFDAAF;
  font-size: 2rem;
  word-wrap: normal;

  &:hover {
    text-decoration: underline;
    letter-spacing: 1px;
  }

  &:active {
    color: white;
    transition: .3s;
  }
}

@media (max-width: 500px) {
  .link {
    font-size: 1.5rem;
  }
}