.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background: rgb(26, 148, 213, 0.7);
  color: white;
  box-shadow: 0 0 8px 8px rgba(248, 248, 255, 0.3);

  & form {
    flex: 1;
  }
}

.text {
  font-family: Roboto, sans-serif;

  & a {
    text-decoration: none;
    margin-left: 25px;
    color: #fffc03;
    transition: .2s;

    &:hover {
      color: #fff851;
      transition: .2s;
      border-radius: 4px;
      text-decoration: underline;
    }
  }
}

.inputsBlock {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.email {
  padding: 0 10px;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: .2s;

  &:focus {
    height: 35px;
    width: 85%;
    transition: .2s;
  }
}

.password {
  padding: 0 10px;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: .2s;

  &:focus {
    height: 35px;
    width: 85%;
    transition: .2s;
  }
}

.rememberWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & input {
    width: 18px;
    height: 18px;
  }

  & label {
    user-select: none;
  }
}

.submitWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.submit {
  padding: 8px 16px;
  background-color: #1a499d;
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  transition: .2s;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background-color: #2259ad;
    transition: .2s;
    box-shadow: 0 0 3px 3px rgb(255, 255, 255, 0.5);
  }

  &:active {
    transform: scale(0.9);
    box-shadow: 0 0 6px 6px rgb(255, 255, 255, 0.8);
  }
}

.forgotWrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.forgot {
  text-decoration: none;
  color: #003ba2;
  transition: .2s;

  &:hover {
    color: white;
    transition: .2s;
  }

  &:active {
    color: white;
    transition: .2s;
  }
}

.error {
  color: #F44336;
  font-size: 1rem;
  margin-top: -15px;
}

@media (max-width: 500px) {
  .box {
    width: 80%;
    padding: 10px;
    gap: 20px;
  }
  .email {
    width: 85%;
  }
  .password {
    width: 85%;
  }
  .text {
    padding: 0;

    & a {
      margin-left: 40px;
    }
  }
  .inputsBlock {
    justify-content: flex-start;
  }
  .error {
    font-size: 0.7rem;
  }
}