.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F44336;
  color: #FDD835;
  padding: 10px 20px;
  border-radius: 6px;
  transition: opacity 0.5s ease-in-out;
  font-size: 1.4rem;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #0a4181;
    color: #FDD835;
    border-radius: 30%;

    &:active {
      transform: scale(0.9);
      transition: 0.1s;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .wrapper {
    top: 85%;
    padding: 10px;
    font-size: 1.2rem;
    gap: 10px;
  }
}