.formForApp {
    margin: 120px 0;

    & input {
        height: 40px !important;
        width: 30%;
        border: 1px solid grey;
        border-radius: 4px;
        padding: 0 10px;
        outline: none;
        background: rgba(255, 255, 255, 0.5);
        transition: 0.1s;

        &:focus {
            border: 1px solid #427ce7;
            outline: none;
            background: rgba(255, 255, 255, 0.9);
            transition: 0.1s;
            box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.2);
        }
    ;
    }

    & button {
        width: 50px !important;
        background-color: #6d6fff !important;
        color: white;

        &:active {
            transform: scale(0.9);
            transition: 0.3s;
            color: aquamarine;
        }
    }
}

/*.box {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 10px auto;*/
/*    gap: 20px;*/
/*}*/

.box {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    justify-content: center;
    gap: 30px;
    /*     Задаёт сетку из 3 колонок по 300пикс шириной каждая*/
    /*Выравнивает колонки по центру*/
    /*Оставляет отступ между колонками*/
    /*При добавлении 4-й колонки, она автоматически пойдёт на новую строку слева, так как grid умеет работать с множественными строками.*/

    /*Таким образом display: grid подходит лучше, чем flex, для решения этой задачи.*/
}